body{
	background-color: white ;
	font-family: arial;
	font-size:15px ;
	color:  #4C5159 ;
}
h6{
	font-size:14px;
}
<--------menuu----->
section{
	background: linear-gradient(white, blue);
}
li
 {
 	 display: inline;
}
ul li {
background:white;
list-style: none;
height: 44px;
float:right;
padding:10px 5px;

}
ul li a {

width: 120px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #244AB0;
padding:0px;
color: black;
font-size:18px;
font-weight:lighter;
text-align:center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
li:nth-child(7) a {
border-color: #244AB0;

}
li:nth-child(6) a {
border-color: #244AB0;
}
li:nth-child(8) a {
border-color: #244AB0;
}
li:nth-child(4) a {
border-color: #244AB0;
}
li:nth-child(5) a {
border-color: #244AB0;
}
li:nth-child(7) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(6) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(8) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(4) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(5) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
.sec1{
  background-color: #244AB0;
}

.logo{
	width: 100px;
	height: 70px;
}
.container{
	 
	 width: 300px;
	 height: 300px;

}
.button {
  background-color: #244AB0; 
  color: white;
  border:none;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
 border-radius: 12px;
}
.button {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover {
  background-color:white;
  color: black;
  border: 2px solid #244AB0;
}
.container {
  width:1000px;
  height:100px;
  text-align: left;
  }
  h5{
    font-family: verdana;
  font-size:13px ;
  font color:  #C1C1C1;
  font-weight: normal;

  }
  h2{

     font-family: verdana;
  font-size:45px ;
  font color:  #C1C1C1;
  font-weight: normal;
  }

 








 



