body{
	background-color: white ;
	font-family: arial;
	font-size:15px ;
	color: gray ;
}
h6{
	font-size:14px;
}
<--------menuu----->
section{
	background: linear-gradient(white, blue);
}
li
 {
 	 display: inline;
}
ul li {
background:white;
list-style: none;
height: 44px;
float:right;
padding:10px 5px;

}
ul li a {

width: 120px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #244AB0;
padding:0px;
color: black;
font-size:18px;
font-weight:lighter;
text-align:center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
li:nth-child(7) a {
border-color: #244AB0;

}
li:nth-child(6) a {
border-color: #244AB0;
}
li:nth-child(8) a {
border-color: #244AB0;
}
li:nth-child(4) a {
border-color: #244AB0;
}
li:nth-child(5) a {
border-color: #244AB0;
}
li:nth-child(7) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(6) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(8) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(4) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(5) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}

.logo{
	width: 100px;
	height: 70px;
}
.container{
	 box-shadow: 2px 2px 5px #999;
	 width: 300px;
	 height: 380px;

}
.button {
  background-color: #244AB0;
  color: white;
  border:none;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
 border-radius: 12px;
}
.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color:white;
  color: black;
  border: 2px solid #244AB0;
}

.textoslargos{

  font-size:25px;
  text-align: center;
  color: black;
  font-weight: normal;
}
.textos{

  font-size:25px;
  text-align: left;
  color: black;
  font-weight: normal;
}
.textos1{

  font-size:20px;
  text-align: left;
  color: black;
  font-weight: normal;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
color: white;
font-family: arial;
float: center;
}
.footer, .push {
height: 4em;
float: center;
}
.blue{
  background: linear-gradient(#244AB0,#244AB0);
}
.pool{
  background-color: #244AB0;
  color: white;
  width: 298px;
  height:10px;
}
