body{
	background-color: white ;
	font-family: arial;
	font-size:15px ;
	color: gray ;
}
h6{
	font-size:14px;
}
<--------menuu----->
section{
	background: linear-gradient(white, blue);
}
#menu ul li {
  position:fixed; top:0;
    font-family: arial;
    background-color:;

}


#menu ul {
    list-style:none;
    margin:0%;
    padding:0%;
}
.fixed{position:fixed; top:0}


ul li a {

width: 120px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #244AB0;
padding:0px;
color: black;
font-size:12px;
font-weight:lighter;
text-align:center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
li:nth-child(1) a {
border-color: #244AB0;
margin: 0 1px 0 1px;

}
li:nth-child(2) a {
border-color: #244AB0;
margin: 0 1px 0 1px;
}
li:nth-child(3) a {
border-color: #244AB0;
margin: 0 1px 0 1px;
}
li:nth-child(4) a {
border-color: #244AB0;
margin: 0 1px 0 1px;
}

li:nth-child(5) a {
border-color: #244AB0;
margin: 0 1px 0 1px;
}
li:nth-child(2) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;


}
li:nth-child(3) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;

}
li:nth-child(4) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;

}
li:nth-child(5) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;

}
li:nth-child(6) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;

}


.nav
{
  position: fixed;
top: 0;
width:100%;
background-color: white;

 }

 li{
    list-style:none
 }

#menu ul li {
    position:relative;
    float:right;
    margin:0;
    padding:0%;
}

#menu ul li:hover {
    background:;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:122px
}

#menu ul ul a {
    line-height:500%;
    padding:-20px -10px;
}

#menu ul li:hover > ul {
    display:block;
    border-radius: 10%;
    background-color:#fff ;

}


.logo{
	width: 100px;
	height: 70px;
}
.container{
	 box-shadow: 2px 2px 5px #999;
	 width: 450px;
	 height: 500px;

}
.button {
  background-color: #244AB0;
  color: white;
  border:none;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
 border-radius: 12px;
}
.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color:white;
  color: black;
  border: 2px solid #244AB0;
}
table{
  float:center;
  width: 300px;
}
.textoslargos{

  font-size:25px;
  text-align: center;
  color: black;
  font-weight: normal;
}
.textos{

  font-size:25px;
  text-align: left;
  color: black;
  font-weight: normal;
}
.textos1{

  font-size:20px;
  text-align: left;
  color: black;
  font-weight: normal;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
color: white;
font-family: arial;
float: center;
}
.footer, .push {
height: 4em;
float: center;
}
.blue{
  background: linear-gradient(#244AB0,#244AB0);
}
.pool{
  background-color: #244AB0;
  color: white;
  width: 298px;
  height:20px;
}




.texto{
   font-size: 70px;
   width: 700px;
   height: 10px;
   position: fixed;
   top: 94px;
   color: #fff;
   text-align: left;
}

.texto1{
   font-size: 70px;
   width: 700px;
   height: 10px;
   position: fixed;
   top: 94px;
   color: #244AB0;
   text-align: left;
}
