body{
	background-color: white ;
	font-family: arial;
	font-size:15px ;
	color:  #4C5159 ;
}
h6{
	font-size:30px;
  color:white;
  text-align: center;
}
h3{
  font-size:60px;
  text-align: center;
  color: white;
}
.nav
{
  position: fixed;
top: 0;
width:100%;
background-color: white
 }
<--------menuu----->
section{
	background: linear-gradient(white, blue);
}
li
 {
 	 display: inline;
}
ul li {
list-style: none;
height: 30px;
float:right;
padding:10px 5px;

}
ul li a {

width: 120px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #244AB0;
padding:0px;
color: black;
font-size:18px;
font-weight:lighter;
text-align:center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
li:nth-child(7) a {
border-color: #244AB0;

}
li:nth-child(6) a {
border-color: #244AB0;
}
li:nth-child(8) a {
border-color: #244AB0;
}
li:nth-child(4) a {
border-color: #244AB0;
}
li:nth-child(5) a {
border-color: #244AB0;
}
li:nth-child(7) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(6) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(8) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(4) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
li:nth-child(5) a:hover {
border-bottom: 35px solid #244AB0;
height: 9px;
color: white ;
}
.sec1{
  background-color: #244AB0;
}

.logo{
	width: 80px;
	height: 50px;
}
.container{

	 width: 300px;
	 height: 300px;

}
.button {
  background-color: #244AB0;
  color: white;
  border:none;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
 border-radius: 12px;
}
.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color:white;
  color: black;
  border: 2px solid #244AB0;
}
.container {
  width:1000px;
  height:300px;
  box-shadow: 2px 2px 5px #999;
  }
  h2{
    font-family: arial;
  font-size:30px ;
  font color:  #C1C1C1;
  font-weight: normal;

  }
  h1{

     font-family: arial;
  font-size:50px ;
color: white;
  font-weight: bold;

  }




.izquierda{
  float: right;
  float: top;
  border-radius: 25px;
}



.fondo{
width: 100%;
height:600px;
background-image:url(../imagenes/caterpillar.jpg); background-repeat:no-repeat;background-position: center; background-attachment: fixed;background-size: cover;


}

.button1 {
  background-color: #244AB0;
  color: blue;
  border:none;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
 border-radius: 12px;
float: center;
}
.button1 {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  float: center;
}

.button1:hover {
  background-color:white;
  color: blue;
  border: 2px solid #244AB0;
  float: center;
}
button a{
  color:white;
  font-weight: bold;
}
button:hover a{
  color: #244AB0;
  font-weight: bold;
}

.BLACK{

     font-family: arial;
  font-size:50px ;
color: black;
  font-weight: bold;
text-align: center;
}
.textoslargos{

  font-size:25px;
  text-align: center;
  color: black;
  font-weight: normal;
}
.textos{

  font-size:25px;
  text-align: left;
  color: black;
  font-weight: normal;
}
.textos1{

  font-size:20px;
  text-align: left;
  color: black;
  font-weight: normal;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
color: white;
font-family: arial;
float: center;
}
.footer, .push {
height: 4em;
float: center;
}
.blue{
  background: linear-gradient(#244AB0,#244AB0);
}
.pool{
  background-color: #244AB0;
  color: white;
  width: 298px;
  height:10px;
}

.slidershow{
  width: 1350px;
  height: 500px;
  overflow: hidden;
}
.middle{
  position:  relative ;
  text-align: center;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}


.texto{
   font-size: 70px;
   width: 700px;
   height: 10px;
   position: fixed;
   top: 94px;
   color: #fff;
   text-align: left;
}

.texto1{
   font-size: 70px;
   width: 700px;
   height: 10px;
   position: fixed;
   top: 94px;
   color: #244AB0;
   text-align: left;
}
